# Python List:

### 1. Create your own lists otherwise use the List1 = ['hello','great','learning']  to operate the below Python list  Operations?
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [7]:
l1=[1,2]
l1*3

[1, 2, 1, 2, 1, 2]

#### 1.B. Concatenation (+):

In [8]:
l2=[3,4]
l1+l2

[1, 2, 3, 4]

#### 1.C. Membership:

In [9]:
1 in l1

True

#### 1.D. Length:

In [10]:
len(l1)

2

#### 1.E. Iteration:

In [11]:
for i in l1:
    print(i)

1
2

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
                    List1 = [15, 300, 2700, 821]
                    List2 = [12, 2]
                    List3 = [34, 567, 78]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.A)  max():

In [12]:
a=[10,30,20]
max(a)

30

#### 2.B) min():

In [13]:
min(a)

10

#### 2.C) list:

In [19]:
a=(10,20,30)
list(a)

[10, 20, 30]

### 3. Create your own lists to operate the below Python List built-in methods

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [16]:
a=[10,30,20]
a.append(40)
a

[10, 30, 20, 40]

#### 3.B) list.clear():

In [17]:
a.clear()
a

[]

#### 3.C) List.copy()

In [30]:
a=[10,30,20]
b=a.copy()
b

[10, 30, 20]

#### 3. D) list.count(obj):

In [25]:
a.count(10)

1

#### 3.E) list.extend(seq):

In [31]:
b=[60,40]
a.extend(b)
a

[10, 30, 20, 60, 40]

#### 3.F) list.index(obj):

In [32]:
a.index(60)

3

#### 3.G) list.insert(index, obj):

In [38]:
a.insert(2,50)
a

[10, 30, 50, 20, 60, 40]

#### 3.H) list.pop(obj=list[-1]):

In [39]:
a.pop(2)
a

[10, 30, 20, 60, 40]

#### 3.I) list.remove(obj):

In [40]:
a.remove(60)
a

[10, 30, 20, 40]

#### 3.j) list.reverse():

In [41]:
a.reverse()
a

[40, 20, 30, 10]

#### 3.K) list.sort([func]):

In [43]:
a.sort(reverse=True)
a

[40, 30, 20, 10]

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('a','b','c','d')
                Tuple2 = ('e','f','g','h')

### 1. Tuple Operations 
  
  
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [44]:
t=(1,2,3)
t*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### 1.B. Concatenation (+):

In [46]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6)

#### 1.C) Membership:

In [47]:
3 in t

True

#### 1.D) Length:

In [48]:
len(t)

3

#### 1.E) Iteration:

In [49]:
for i in t:
    print(i)

1
2
3

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [50]:
f=(21,43,667,75,543,4,55,45)
max(f)

667

#### 2.D) min():

In [51]:
min(f)

4

#### 2.E) Tuple:

In [52]:
g='santhosh'
tuple(g)

('s', 'a', 'n', 't', 'h', 'o', 's', 'h')

# Python Set

#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
        Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [53]:
c={2,4,2,5,3,7,6,9}
d={2,5,7,3,8,1}
c|d

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### 1.B. Intersection

In [54]:
c&d

{2, 3, 5, 7}

#### 1.C. Difference

In [55]:
c-d

{4, 6, 9}

####  1.D. Symmetric difference:

In [56]:
c^d

{1, 4, 6, 8, 9}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                            dict = {'Name': 'Student', 'Age': 27};

    A.	len(dict)     
    B.	str(dict)      
    C.	type(variable)

#### 1.A) len(dict):

In [57]:
dic={'nm':'kk','age':10}
len(dic)

2

#### 2.B) str(dict):

In [58]:
str(dic)

"{'nm': 'kk', 'age': 10}"

#### 1.C) type(variable):

In [59]:
type(dic)

dict

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [97]:
di={1:'one',2:'two',3:'four'}
di.clear()
di

{}

#### 2.B) dict.copy():

In [63]:
d1={1:'one',2:'two',3:'four'}
d2=d1.copy()
d2

{1: 'one', 2: 'two', 3: 'four'}

#### 2.C) dict.fromkeys():

In [79]:
s=('a','b','c')
d1=d1.fromkeys(s)
d1

{'a': None, 'b': None, 'c': None}

#### 2.D) dict.get(key[, value]) :

In [85]:
d1={1:'one',2:'two',3:'four'}
d1.get(2)

'two'

#### 2.E) dict.items()

In [86]:
d1.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'four')])

#### 2.F) dict.keys() :

In [ ]:
d1.keys()

#### 2.G) dict.setdefault():

In [88]:
d1.setdefault(4)
d1

{1: 'one', 2: 'two', 3: 'four', 4: None}

#### 2.H) dict.update():

In [89]:
d3={3:'three',4:'four'}
d1.update(d3)
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

 #### 2.L)  dict.values():

In [90]:
d1.values()

dict_values(['one', 'two', 'three', 'four'])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Write if statement 13 is greater than 25?

In [96]:
if 13>25:
    print('none')

##### 2.  Write a if else  statement to find if the number is divisible by 25?

In [94]:
i=float(input('enter i value:'))
if i>0:
    if i%25==0:
        print('divisible by 25')
    else:
        print('not divisible by 25')
else:
    print('value not acceptable')

enter i value:675
divisible by 25

#### 3.Using the three variables 'a = 154; b = 2451; c = 6054', 
Write a If...Elif...Else statement to find the greatest number

In [95]:
a,b,c=154,2451,6054
if a>b and a>c:
    print('a is greatest')
elif b>a and b>c:
    print('b is greatest')
else:
    print('c is greatest')

c is greatest