# Python List

### 1. Create your own lists otherwise use the List1 = ['a','b','c']  to operate the below Python list  Operations?

### 1. List Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [1]:
l1=['a','b','c']
l1*3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

#### 1.B. Concatenation (+):

In [3]:
l2=['d','e']
l3=l1+l2
l3

['a', 'b', 'c', 'd', 'e']

#### 1.C. Membership:

In [4]:
'd' in l2

True

#### 1.D. Length:

In [5]:
len(l1)

3

#### 1.E. Iteration:

In [6]:
for i in l1:
    print(i)

a
b
c

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
            List1 = [1, 2, 4, 5, 54]
            List2 = [23,54,789,9876,876,532,56]
            List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.C. max(list):

In [7]:
max(l1)

'c'

#### 2.D. min():

In [8]:
min(l1)

'a'

#### 2.E.list:

In [9]:
l5="kish"
list(l5)

['k', 'i', 's', 'h']

### 3. Create your own lists to operate the below  thePython List built-in methods?
##### otherwise use below list:
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [11]:
l=[1,5,2,8,3,9,5]
l.append(4)
l

[1, 5, 2, 8, 3, 9, 5, 4]

#### 3.B) list.clear():

In [12]:
l.clear()
l

[]

#### 3.C) List.copy()

In [13]:
l=[1,5,2,8,3,9,5]
f=l.copy()
f

[1, 5, 2, 8, 3, 9, 5]

#### 3. D) list.count(obj):

In [14]:
l.count(5)

2

#### 3.E) list.extend(seq):

In [15]:
m=(4,6)
l.extend(m)
l

[1, 5, 2, 8, 3, 9, 5, 4, 6]

#### 3.F) list.index(obj):

In [17]:
l.index(8)

3

#### 3.G) list.insert(index, obj):

In [19]:
l.insert(2,10)
l

[1, 5, 10, 10, 2, 8, 3, 9, 5, 4, 6]

#### 3.H) list.pop(obj=list[-1]):

In [20]:
l.pop(2)

10

#### 3.I) list.remove(obj):

In [21]:
l.remove(10)
l

[1, 5, 2, 8, 3, 9, 5, 4, 6]

#### 3.j) list.reverse():

In [29]:

l.reverse()
l

[1, 5, 2, 8, 3, 9, 5, 4, 6, 'd', 's', 'a']

#### 3.K) list.sort([func]):

In [32]:
l=[1, 5, 2, 8, 3, 9, 5, 4, 6]
l.sort()
l

[1, 2, 3, 4, 5, 5, 6, 8, 9]

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
                Tuple2 = (1,4,1,3,4,5,65)

### 1. Tuple Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [38]:
t1=('a','b','c','d','e')
t1*2

('a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e')

#### 1.B. Concatenation (+):

In [34]:
t2=(1,2,5,3,7)
t1+t2

('a', 'b,', 'c', 'd', 'e', 1, 2, 5, 3, 7)

#### 1.C) Membership:

In [35]:
5 in t2

True

#### 1.D) Length:

In [36]:
len(t1)

5

#### 1.E) Iteration:

In [39]:
for i in t1:
    print(i)

a
b
c
d
e

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [40]:
t1=(12,23,4345,21,56,42,673,4)
max(t1)

4345

#### 2.D) min():

In [41]:
min(t1)

4

#### 2.E) Tuple:

In [42]:
k=['f',23,'g']
tuple(k)

('f', 23, 'g')

# Python Set

In [ ]:
#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
        Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [49]:
s1={1,4,3,4,4,3,5,6,7,}
s2={9,8,9,5,7,4,6}
s1|s2

{1, 3, 4, 5, 6, 7, 8, 9}

#### 1.B. Intersection

In [50]:
s1&s2

{4, 5, 6, 7}

#### 1.C. Difference

In [51]:
s1-s2

{1, 3}

####  1.D. Symmetric difference:

In [52]:
s1^s2

{1, 3, 8, 9}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                           Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	len(dict)     
    B.	str(dict)     
    C.	type(variable)

#### 1.A) len(dict):

In [53]:
d={'a':1,'b':2,'c':4}
len(d)

3

#### 2.B) str(dict):

In [54]:
str(d)

"{'a': 1, 'b': 2, 'c': 4}"

#### 1.C) type(variable):

In [55]:
type(d)

dict

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [56]:
d.clear()
d

{}

#### 2.B) dict.copy():

In [59]:
d={'a':1,'b':2,'c':4}
e=d.copy()
e

{'a': 1, 'b': 2, 'c': 4}

#### 2.C) dict.fromkeys():

In [60]:
d1={}
s=(1,2,3)
d1.fromkeys(s)

{1: None, 2: None, 3: None}

#### 2.D) dict.get(key[, value]) :

In [61]:
d.get('a')

1

#### 2.E) dict.items()

In [62]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 4)])

#### 2.F) dict.keys() :

In [63]:
d.keys()

dict_keys(['a', 'b', 'c'])

#### 2.G) dict.setdefault():

In [64]:
d.setdefault('d',4)
d

{'a': 1, 'b': 2, 'c': 4, 'd': 4}

#### 2.H) dict.update():

In [65]:
d1={'c':3,'e':5}
d.update(d1)
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

 #### 2.L)  dict.values():

In [66]:
d.values()

dict_values([1, 2, 3, 4, 5])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

In [69]:
n=int(input("Enter a number:"))
if n==10:
    print('Hello')

Enter a number:10
Hello

#### 2. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

In [70]:
n=int(input("Enter a number:"))
if n==10:
    print('Hello')
else:
    print('Good Bye')

Enter a number:20
Good Bye

# While Loop

#### 1. Print Hello World 5 times

In [74]:
i=0
while i<5:
    print('Hello World')
    i+=1

Hello World
Hello World
Hello World
Hello World
Hello World

# For Loop

#### 1. Take a list [23,1,0,12,45,-1,46], loop through each element and print it

In [76]:
l=[23,1,0,12,45,-1,46]
for i in l:
    print(i)

23
1
0
12
45
-1
46

#### 2. Take a list [1,2,3,4,5,6,7,8], loop through each element and print it. But, use break to come out of the loop after printing the second element

In [79]:
l=[1,2,3,4,5,6,7,8]
for i in l:
    print(i)
    if i==2:
        break

1
2