#### 1. Write a Python function to multiply all the numbers in a list.

In [2]:
def f1(*a):
    p=1
    for i in a:
        p*=i
    print("Product of all numbers is:",p)
f1(1,2,3,4)

Product of all numbers is: 24

#### 2. Write a Python function to reverse a string use the while loop also?

In [4]:
def rev(a):
    while(True):
        print(a[::-1])
        break
rev('kish')

hsik

###### 3. Write a function to add and subtract two variables

In [6]:
def add_sub(a,b):
    print("addition result:",a+b)
    print("subtraction result:",a-b)
add_sub(10,5)

addition result: 15
subtraction result: 5

###### 4. Write a function to check the number is divisible by 12

In [7]:
def div5(a):
    if a%12==0:
        print('divisible by 12')
    else:
        print('not divisible by 12')
div5(300)

divisible by 12

###### 5. Write a function to calculate the number of days and weeks

In [8]:
def days(a):
    print(a//7,'weeks and',a%7,'day(s)')
n=int(input("Enter number of days:"))
days(n)

Enter number of days:65
9 weeks and 2 day(s)

#### 6.Write a Python function to Find the 5!?

In [10]:
def fact(a):
    f=1
    for i in range(1,a+1):
        f*=i
    print('factorial:',f)
fact(5)

factorial: 120

#### 7. Write a Python function Find the unique elements of the first list = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]?

In [20]:
def uniq(a):
    x=[]
    for i in a:
        if i not in x:
            x.append(i)
    print(x)           

l=(1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3)
uniq(l)

[1, 2, 3, 4, 5, 34, 654, 7, 6]

#### Types of arguments


    1. Required arguments
    2. Keyword arguments
    3. Default arguments

####  1. Required arguments: (the function simple_interest accepts three arguments and returns the simple interest accordingly)

In [25]:
def si(p,n,r):
    si=p*n*r/100
    print("Simple Interest:",si)

a=int(input("Enter principal:"))
b=int(input("Enter number of years:"))
c=int(input("Enter rate of interest:"))
si(a,b,c)

Enter principal:10000
Enter number of years:1
Enter rate of interest:10
Simple Interest: 1000.0

#### 2.Keyword arguments:(Function is called with the name and message as the keyword arguments)

In [23]:
def f3(first,last):
    print("Our warm welcome to",first,last)
f3(last='Lee',first='Tim')

Our warm welcome to Tim Lee

#### 3.Default Arguments:()

In [24]:
def emp(name,age=18):
    print('Name:',name)
    print('Age:',age)
emp("kish")

Name: kish
Age: 18

### lambda function

In [26]:
h=lambda x,y : x+y
h(234,45)

279

#### 1. Take the input the user input find it is even or odd number?

In [27]:
h=lambda x : 'even' if x%2==0 else 'odd'
n=int(input('Enter a number:'))
h(n)

Enter a number:45

'odd'

#### 2. Take the input from user and  square it

In [29]:
h=lambda x:x**2
n=int(input('Enter a number:'))
h(n)

Enter a number:4

16

#### 3. Write a lambda function using logical operators?

In [37]:
h1=lambda x:'divisible by 2 and 4' if (x%2==0 & x%4==0) else none
h1(244)

'divisible by 2 and 4'

#### 4. Take a integer input from the user write a lambda function to add 5 and print it back?

In [38]:
h=lambda x:x+5
n=int(input('Enter a number:'))
h(n)

Enter a number:15

20

### Map

In [39]:
l=[2,11,7]

print(list(map(lambda x:x>10,l)))

[False, True, False]

#### 1. Adding two lists using map ()
     lis1 = [12, 24, 36] 
     lis2 = [41, 54, 69]

In [40]:
l1=[12,24,36]
l2=[41,54,69]
list(map(lambda x,y:x+y,l1,l2))

[53, 78, 105]

#### 2 Using Lambda and map functions on a List, find the square of each element in the list = [1, 2, 3, 4, 5, 6, 7]

In [42]:
l=[1,2,3,4,5,6,7]
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36, 49]

#### 3.Take the list = [1, 2, 3, 4, 5, 6, 7] and find wheather the element in the list is even or odd element, using the map() function?

In [43]:
l=[1,2,3,4,5,6,7]
list(map(lambda x:'even' if x%2==0 else 'odd',l))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

#### 4. Take the list = [11, 12, 13, 14, 435, 6, 27]  To perform the Floor division by 7 on each elements on the list?

In [45]:
l=[11,12,13,14,435,6,27]
list(map(lambda x:x//7,l))

[1, 1, 1, 2, 62, 0, 3]

## Filter

In [46]:
n=[1,2,3,4,5,6,7,8]
list(filter(lambda x:x>2,n))

[3, 4, 5, 6, 7, 8]

#### 1.filter the  lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543]   which is not divided by 2?

In [48]:
l=[3,12,24,36,43,654,65432,2,654,455,43,543]
list(filter(lambda x:x%2!=0,l))

[3, 43, 455, 43, 543]

#### 2.find the even valuse give list using filter?

In [52]:
l=[3,12,24,36,43,654,65432,2,654,455,43,543]
list(filter(lambda x:x%2==0,l))

[12, 24, 36, 654, 65432, 2, 654]

#### 3.Take list = [2,3,5,3,6,3,7,4,6,7] and find even number using user def functions?

In [56]:
def fn(a):
    x=[]
    for i in a:
        if i%2==0:
            x.append(i)
    print(x)
l=[2,3,5,3,6,3,7,4,6,7]
fn(l)

[2, 6, 4, 6]

##### 4. Take the list = [1, 12, 31, 4, 15, 6, 7] and find the odd numbers in each elements in given values?

In [57]:
l=[1,12,31,4,15,6,7]
list(filter(lambda x:x%2!=0,l))

[1, 31, 15, 7]

 ## Reduce

#### 1.Take the list = [1, 2, 3, 4] and multiply all the element and use reduce function?

In [60]:
import functools
import operator
l=[1,2,3,4]
print(functools.reduce(operator.mul,l))

24

#### 2.Take the list = [ 11 , 13, 15, 16, 2,43 ]  and sum of  all the element and use reduce function?

In [62]:
import functools
import operator
l=[11,13,15,16,2,43]
print(functools.reduce(operator.add,l))

100

#### 3. Take list  = [543,7,6,4567,7,78,6,6,78,765,678] and find the maximum value in the list

In [64]:
l=[543,7,6,4567,7,78,6,6,78,765,678]
print(max(l))

4567

#### 4. Take the list  = [543,7,6,4567,7,78,6,6,78,765,678] find the minmum value in the list?

In [65]:
l=[543,7,6,4567,7,78,6,6,78,765,678]
print(min(l))

6